/* '*' selector will modify any element in the webpage 
if it is not otherwise styled with CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The default font-size in paragraph elements */
p {
    font-size: 16px;
}

/* CSS styling on any text within the abbreviation HTML tag */
abbr {
    color: #d9dcd6;
    font-style: italic;
}

body {
    background-color: #d9dcd6;
}

/* styling for the header which will appear at the top of each webpage on the side */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The title of the website, which says "Horiseon" */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Providing emphasis on the 'seo' letters in "Horiseon" */
header .emphasis {
    color: #d9dcd6;
}


/* for any links within the header, not applying text decoration 
(underlining or changing color on a clicked link) */
header a {
    color: #ffffff;
    text-decoration: none;
}


/* header navbar, the clickable links  within the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* list of options in the header navbar, each is a link */
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removed background-image CSS styling due to accessibility concerns, sourced the 
image withing the HTML .hero div */
.hero {
    margin-bottom: 25px;
}

.hero img {
    height: 800px;
    width: 100%;   
    object-position: center;
}

/* The main body of the webpage, composed of divs -- one for each link in the navbar */
main {
    width: 75%;
    display: inline-block;
    padding: 40px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main div {
    height: 300px;
    padding: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
    background-color: #0072bb;
}

main img {
    max-height: 200px;
}

main h2 {
    font-size: 36px;
    margin-bottom: 25px;   
}

#optimization img, #marketing img {
    float: left;
    margin-right: 25px;
}

#reputation-management img {
    float: right;
    margin-left: 25px;
}

/* webpage aside, portions of Horiseon's business that are only indirectly related to
the website's main content */
aside {
    margin-top: 40px;
    margin-right: 25px;
    margin-bottom: 32px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

aside div {
    padding: 20px;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

aside h3 {
    text-align: center;
}

/* footer, appears at the bottom of each page on the website */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}